

.container {
    margin: 10px auto;
}

  .col {
    /* position: fixed; */
    background-color: #fff;
}

  iframe {
    width: 90%;
    height: 95vh;
    /* padding-top: 10px; */
}

@media screen and(min-width: 768px) {
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}